body {
    margin: 2em;
    background-color: white;
  }
  
  h2 {
    font-style:initial;
    color: rgb(26, 26, 26);
    height: 400px;
  }

  .card {
    background-color: white;
    height: 800px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    padding: 4em;
    text-align: center;
    display: inline;
  }

  p {
    font-size: 18px;
  }

  .button {
    align-items: center;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    padding: 0px 10px;
  }

  